<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.igeeksky.xcache.test.book"/>
	
	<!-- 
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool" scope="singleton" 
		c:poolConfig-ref="jedisPoolConfig" c:host="127.0.0.1"/>
	
	<bean id="lettuceConnectionFactory" class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory"/>
	<bean id="keySerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
	<bean id="fstSerializer" class="com.igeeksky.xcache.core.FSTSerializer"/>
	<bean id="genericToStringSerializer" class="org.springframework.data.redis.serializer.GenericToStringSerializer" c:type="java.lang.Long"/>
	
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="lettuceConnectionFactory"/>
		<property name="keySerializer" ref="fstSerializer"/>
		<property name="valueSerializer" ref="fstSerializer"/>
		<property name="hashKeySerializer" ref="fstSerializer"/>
		<property name="hashValueSerializer" ref="fstSerializer"/>
	</bean>
	 -->
	 
	<import resource="classpath*:spring-cache-cluster.xml"/>
	
</beans>