<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd">

	<cache:annotation-driven />
	
	<bean id="remoteCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager"
		c:redisOperations-ref="redisTemplate" >
		<property name="usePrefix" value="true" />
		<property name="defaultExpiration" value="3600" />
	</bean>
	
	<bean id="localCacheManager" class="com.igeeksky.xcache.core.XlocalCacheManager"
		c:aliveTime="7200"
		c:singleStoreMaxElements="30000"
		c:cacheCleanPeriod="120">
		<!-- <property name="initCaches">
			<set>
				<bean class="com.igeeksky.xcache.core.XlocalCacheConfig" >
					<property name="name" value="DEFAULT_CACHE1"/>
					<property name="aliveTime" value="72000"/>
					<property name="singleStoreMaxElements" value="99099"/>
				</bean>
				<bean class="com.igeeksky.xcache.core.XlocalCacheConfig" >
					<property name="name" value="DEFAULT_CACHE2"/>
					<property name="aliveTime" value="72300"/>
					<property name="singleStoreMaxElements" value="9999"/>
				</bean>
			</set>
		</property> -->
	</bean>
	
	<!-- <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml"></property>
	</bean>
	
	<bean id="localCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehcache"></property>
	</bean> -->
	
	<bean id="cacheManager" class="com.igeeksky.xcache.core.XcacheManager"
		c:remoteCacheManager-ref="remoteCacheManager" 
		c:localCacheManager-ref="localCacheManager" 
		c:redisOperations-ref="redisTemplate" />
	
</beans>